<table mat-table [dataSource]="orders$" class="mat-elevation-z8">
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
            פעולות
        </th>
        <td mat-cell *matCellDef="let order">
            <div class="button-container">
                <button mat-icon-button color="warn" (click)="removeOrder.emit(order)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary">
                    <mat-icon>print</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="goToOrderPage(order.id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
            <span class="">
                <fa-icon [icon]="icons.faSort" class="mr-3 sortable" (click)="sortByStatus.emit()"></fa-icon>
                סטאטוס
            </span>
        </th>
        <td mat-cell *matCellDef="let order">
            <span [ngSwitch]="order.status">
                <span *ngSwitchCase="'open'">
                    פתוחה
                </span>
                <span *ngSwitchCase="'done'">
                    בוצע
                </span>
                <span *ngSwitchCase="'signed and done'">
                    בוצע וחתום
                </span>
                <span *ngSwitchCase="'closed'">
                    סגורה
                </span>
                <span *ngSwitchDefault>
                    פתוחה
                </span>
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="narratorsPrice">
        <th mat-header-cell *matHeaderCellDef>עלות קריינים</th>
        <td mat-cell *matCellDef="let order">
            {{ order.narratorsPrice | currency : 'ILS' : 'symbol' : '1.0'}}
        </td>
    </ng-container>
    <ng-container matColumnDef="narrators">
        <th mat-header-cell *matHeaderCellDef>קריינים</th>
        <td mat-cell *matCellDef="let order">
            <span *ngFor="let n of order.narrators; let i = index">
                {{ n.name }}
                <span *ngIf="i !== order.narrators.length -1">
                    ,&nbsp;
                </span>
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="invoiceNumber">
        <th mat-header-cell *matHeaderCellDef>מס חשבונית</th>
        <td mat-cell *matCellDef="let order">
            {{ order.invoiceNumber }}
        </td>
    </ng-container>
    <ng-container matColumnDef="bookkeepingNotes">
        <th mat-header-cell *matHeaderCellDef>הערות הנהלת חשבונות</th>
        <td mat-cell *matCellDef="let order">
            {{ order.bookkeepingNotes }}
        </td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>
            <span class="">
                <fa-icon [icon]="icons.faSort" class="mr-3 sortable" (click)="sortByPrice.emit()"></fa-icon>
                מחיר
            </span>
        </th>
        <td mat-cell *matCellDef="let order">
            {{ order.price.fullPrice | currency : 'ILS' : 'symbol' : '1.0'}}
        </td>
    </ng-container>
    <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef>לקוח</th>
        <td mat-cell *matCellDef="let order">
            {{ order.customer?.name }}
        </td>
    </ng-container>
    <ng-container matColumnDef="advertiser">
        <th mat-header-cell *matHeaderCellDef>פרסומאי\מזמין העבודה</th>
        <td mat-cell *matCellDef="let order">
            {{ order.advertiser.name }}
        </td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>
            <span class="">
                <fa-icon [icon]="icons.faSort" class="sortable sortable-date" (click)="sortByDate.emit()"></fa-icon>
                תאריך
            </span>
        </th>
        <td mat-cell *matCellDef="let order">
            {{ order.date | date : 'dd/MM/yyyy'}}
        </td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>מס הזמנה</th>
        <td mat-cell *matCellDef="let order" class="pr-4">
            {{ order.id }}
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
</table>