<div class="card-cont">

    <div class="card mt-2">
        <div class="card-header">
            <span class="index">
                {{ i + 1 }}
            </span>
            <span>
                <fa-icon class="laugh-wink-icon mr-3 cursor-pointer" [icon]="icons.faLaughWink"
                    [ngClass]="joke.selected ? 'icon-outline' : 'icon-colored'"
                    (click)="joke.selected ? unSelectAndHideJoke(joke) : selectAndShowJoke(joke)">
                </fa-icon>
            </span>
            <div class="float-right">
                <div style="margin-top: 17px" *ngIf="joke.selected">
                    <button class="btn btn-sm btn-outline-warning mr-2 util-btn" (click)="editJoke.emit(joke)">
                        <fa-icon [icon]="icons.faEdit"></fa-icon>
                    </button>
                    <button class="btn btn-sm btn-outline-danger mr-2 util-btn" (click)="removeJoke.emit(joke)">
                        <fa-icon [icon]="icons.faTrash"></fa-icon>
                    </button>
                </div>
            </div>

            <h3 class="d-inline-block h-100">
                a <span class="joke-category"> {{ joke.category }} </span> joke
            </h3>
        </div>
        <div class="card-body mt-3" *ngIf="joke.show && !joke.edit">
            {{ joke.joke }}
        </div>
        <div *ngIf="joke.edit" class="card-body mt-3">
            <textarea class="form-control joke-edit" name="joke" cols="30" #newJoke [value]="joke.joke"
                autofocus></textarea>
            <button class="btn btn-outline-success mt-2 float-right" (click)="submitJoke.emit(newJoke.value)">
                <fa-icon [icon]="icons.faCheck"></fa-icon>
            </button>
            <button class="btn btn-outline-danger mt-2 mr-2 float-right" (click)="cancel.emit(joke)">
                <fa-icon [icon]="icons.faTimes"></fa-icon>
            </button>
        </div>
    </div>
</div>