<div>

  <ng-template [ngTemplateOutlet]="priceTypeSelector"></ng-template>

  <ng-container [ngSwitch]="price.detailed">
    <ng-container *ngSwitchCase="true">
      <ng-template [ngTemplateOutlet]="detailedPrice"></ng-template>
      <ng-template [ngTemplateOutlet]="priceTable"></ng-template>
      <ng-template [ngTemplateOutlet]="detailedPriceDiscount" *ngIf="_prices.length > 0"></ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="false">
      <ng-template [ngTemplateOutlet]="simplePrice"></ng-template>
    </ng-container>
  </ng-container>
</div>



<ng-template #simplePrice>
  <div class="form-field">
    <mat-form-field class="text-right">
      <mat-label class="pr-3">מחיר</mat-label>
      <input type="number" matInput [(ngModel)]="price.fullPrice" name="price" (keyup)="dispatch()">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field class="text-right">
      <mat-label class="p-3">הנחה באחוזים</mat-label>
      <input type="number" matInput [(ngModel)]="price.discount" name="discount" (keyup)="dispatch()">
    </mat-form-field>
  </div>

  <div class="form-field" *ngIf="priceAfterDiscount(price.fullPrice, price.discount)">
    מחיר לפני מע"מ: {{ priceAfterDiscount(price.fullPrice, price.discount) | currency : 'ILS' : 'symbol'
    : '1.0'
    }}
  </div>
  <div class="form-field" *ngIf="priceAfterDiscount(price.fullPrice, price.discount)">
    מחיר כולל מע"מ:
    {{ priceAfterMaam(priceAfterDiscount(price.fullPrice, price.discount)) | currency : 'ILS' : 'symbol'
    : '1.1'
    }}
  </div>
</ng-template>



<ng-template #detailedPrice>
  <div class="form-container" *ngIf="price.detailed">
    <div class="form-field">
      <mat-form-field class="text-right">
        <mat-label>עבור</mat-label>
        <input type="text" matInput [(ngModel)]="itemName">
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field class="text-right">
        <mat-label class="pr-3">מחיר</mat-label>
        <input type="number" matInput [(ngModel)]="itemPrice">
      </mat-form-field>
    </div>
    <div>
      <app-add-button (click)="addDetailedPrice({name: itemName, price: itemPrice})"></app-add-button>
    </div>
  </div>
</ng-template>


<ng-template #detailedPriceDiscount>
  <div class="form-container" *ngIf="price.detailed && _prices.length > 0">
    <div class="form-field">
      <mat-form-field class="text-right pt-3">
        <mat-label>הנחה באחוזים</mat-label>
        <input type="number" matInput name="discount" [(ngModel)]="price.discount" (keyup)="dispatch()">
      </mat-form-field>
    </div>
  </div>
</ng-template>



<ng-template #priceTypeSelector>
  <div class="form-container">
    <div class="form-field">
      <mat-checkbox [color]="'primary'" [labelPosition]="'before'" [checked]="price.detailed"
        [(ngModel)]="price.detailed" name="detailed">
        מחיר מפורט
      </mat-checkbox>
    </div>
  </div>
</ng-template>



<ng-template #priceTable>
  <div class="prices-table text-right">
    <div *ngIf="_prices.length > 0">
      <table mat-table [dataSource]="_prices" class="mat-elevation-z8">
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef>פריט</th>
          <td mat-cell *matCellDef="let p"> {{ p.name }} </td>
          <td mat-footer-cell *matFooterCellDef>סה"כ</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>מחיר</th>
          <td mat-cell *matCellDef="let p"> {{ p.price | currency : 'ILS' }} </td>
          <td mat-footer-cell *matFooterCellDef>
            <span class="font-weight-bold">
              {{ priceAfterDiscount(getTotalCost(), price.discount) | currency : 'ILS' }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let p" class="text-left">
            <button mat-mini-fab color="warn" class="mr-2 clear-icon-btn" (click)="removeDetailedPrice(p)">
              <mat-icon class="clear-icon">clear</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef>
            מחיר אחרי מע"מ:
            <span class="font-weight-bold">
              {{ priceAfterMaam(priceAfterDiscount(getTotalCost(), price.discount)) | currency : 'ILS' :
              'symbol' :
              '1.1' }}
            </span>
          </td>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>
  </div>
</ng-template>
