<div class="container">
    <app-header></app-header>
    <div class="row mt-3">
        <app-joke-card 
            class="joke-card" 
            *ngFor="let joke of jokes$ | async let i = index" 
            [currentjoke]="joke"
            [index]="i"
            (selectJoke)="selectJoke($event)"
            (unSelectJoke)="unSelect($event)"
            (hideContent)="hideContent($event)"
            (showContent)="showContent($event)"
            (removeJoke)="removeJoke($event)"
            (editJoke)="editJoke($event)"
            (submitJoke)="updateJoke($event)"
            (cancel)="cancelJokeEdit($event)">
        </app-joke-card>
    </div>
    <div class="row">
        <input type="button" class="btn btn btn-outline-success mt-3 mb-3" value="LOAD MORE JOKES"
            (click)="load()" />
    </div>
</div>